.abertos-table {
  table-layout: fixed;
  min-width: 760px;
}

.abertos-table .col-data {
  width: 120px;
}

.abertos-table .col-cliente {
  width: 200px;
}

.abertos-table .col-acoes {
  width: 286px;
}

.abertos-table th.col-acoes,
.abertos-table td.col-acoes {
  text-align: right;
}

.motivo-texto {
  line-height: 1.4;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-break: break-word;
  overflow-wrap: anywhere;
}

.action-buttons {
  justify-content: flex-end;
}

@media (max-width: 640px) {
  .action-buttons {
    justify-content: flex-start;
  }
}
